<li>
	<div class="container MEGA_SENA">
		<div id="resultado" class="resultado">
			<div class="titulo-resultado" onclick="expDiv()">
				<h2>Resultados</h2>
			</div>
			<div class="conteudo-resultado">
				<p id="sorteio_data">data</p>
				<label>
					<br />
					<div class="circle">01</div>
					<div class="circle">02</div>
					<div class="circle">03</div><br />
					<div class="circle">04</div>
					<div class="circle">05</div>
					<div class="circle">06</div>
				</label>
				<hr />
				<p><b>Sena</b></p>
				<p>Não houve acertador</p>
				<p><b>Quina</b></p>
				<p>85 apostas ganhadoras</p>
				<p><b>Quadra</b></p>
				<p>1450 apostas ganhadoras</p>
			</div>
		</div>
		<div id="destaque" class="destaque">
			<div class="titulo-destaque" onclick="expDiv()">
				<h2 id="modalidade"></h2>
				<div>logotipo</div>
			</div>
			<div class="conteudo-destaque">
				<p id="acumulou" class="acumulou"></p>
				<p id="estimativa" class="valor"></p>
				<h3 id="premio_estimado"></h3>
				<footer>
					<hr />
					<p>Sorteio</p>
					<h3 id="dataHoraSorteio"></h3>
				</footer>
			</div>
		</div>
	</div>
</li>