body {
    color: #333333;
    font-family: Verdana, Helvetica, sans-serif;
    text-size-adjust: none;
}

p,
h1,
h3,
h4 {
    font: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
}

footer {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 30px;
    left: 0;
}

footer hr {
    border: 1px solid #e0ebeb;
    margin-bottom: 5px;
    margin-top: 5px;
}

p.observacao {
    display: block;
    font: verdana, arial, Helvetica, sans-serif;
    font-size: 4vw;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

div.sorteio {
    display: flex;
    padding-left: 5px;
    padding-bottom: 5px;
}

div.sorteio.icon {
    background-size: 30px 20px;
    background-repeat: no-repeat;
    background-position: center;
    flex-flow: row wrap;
    flex: 10%;
    align-content: center;
    height: 20;
}

div.sorteio.icon.calendar {
    background-image: url(../img/calendar.svg);
}

div.sorteio.icon.clock {
    background-image: url(../img/clock.svg);
}

div.sorteio.dados {
    display: inline;
    flex: 90%;
    text-align: left;
    padding-left: 2px
}


.circle {
    margin: 2px;
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    vertical-align: top;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.destaque {
    color: #FFFFFF;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 94%;
    top : 35px;
    bottom: 0;
    position: absolute;
    background-color: #FFFFFF;
}

.resultado {
    background-color: #008F5B;
    width: 85%;
    height: 90%;
    top: 0;
    position: absolute;
}

.titulo-destaque {
    width: 100%;
    height: 60px;
    position: absolute;
    vertical-align: middle;
}

.titulo-destaque h2 {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 4vw;
    text-size-adjust: none;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: lowercase;
    text-align: left;
    margin-left: 100px;
    margin-top: 20px;
    vertical-align: middle;
}

.titulo-resultado h2 {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 4vw;
    text-size-adjust: none;
    color: #FFFFFF;
    font-weight: normal;
    text-align: center;
    margin-top: 5px;
}

.titulo-destaque div {
    top: 15px;
    left: 25px;
    height: 32px;
    width: 32px;
    background-size: 32px;
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
    position: absolute;
}

/* imagem de fundo do destaque */
.MEGA_SENA>div>div[class$="titulo-destaque"] {
    background-color: #00AB67;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100% 75"><polygon points="0,0 1200,0 1200,75 0,75" style="fill:%2300AB67;stroke-width:0"/><polygon points="0,0 100,0 70,75 0,75" style="fill:%23009B63;stroke-width:0"/></svg>') no-repeat;
}

.LOTOFACIL>div>div[class$="titulo-destaque"] {
    background-color: #BD3E96;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100% 75"><polygon points="0,0 1200,0 1200,75 0,75" style="fill:%23BD3E96;stroke-width:0"/><polygon points="0,0 100,0 70,75 0,75" style="fill:%23A53384;stroke-width:0"/></svg>') no-repeat;
}

.QUINA>div>div[class$="titulo-destaque"] {
    background-color: #803594;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100% 75"><polygon points="0,0 1200,0 1200,75 0,75" style="fill:%23803594;stroke-width:0"/><polygon points="0,0 100,0 70,75 0,75" style="fill:%23702A82;stroke-width:0"/></svg>') no-repeat;
}

.LOTOMANIA>div>div[class$="titulo-destaque"] {
    background-color: #FF9A2F;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100% 75"><polygon points="0,0 1200,0 1200,75 0,75" style="fill:%23FF9A2F;stroke-width:0"/><polygon points="0,0 100,0 70,75 0,75" style="fill:%23DD8628;stroke-width:0"/></svg>') no-repeat;
}

.TIMEMANIA>div>div[class$="titulo-destaque"] {
    background-color: #A8CD4A;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100% 75"><polygon points="0,0 1200,0 1200,75 0,75" style="fill:%23A8CD4A;stroke-width:0"/><polygon points="0,0 100,0 70,75 0,75" style="fill:%2392B240;stroke-width:0"/></svg>') no-repeat;
}

.DUPLA_SENA>div>div[class$="titulo-destaque"] {
    background-color: #A62A52;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100% 75"><polygon points="0,0 1200,0 1200,75 0,75" style="fill:%23A62A52;stroke-width:0"/><polygon points="0,0 100,0 70,75 0,75" style="fill:%2390214A;stroke-width:0"/></svg>') no-repeat;
}

.LOTECA>div>div[class$="titulo-destaque"] {
    background-color: #F30025;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100% 75"><polygon points="0,0 1200,0 1200,75 0,75" style="fill:%23F30025;stroke-width:0"/><polygon points="0,0 100,0 70,75 0,75" style="fill:%23D30220;stroke-width:0"/></svg>') no-repeat;
}

.LOTOGOL>div>div[class$="titulo-destaque"] {
    background-color: #00B7E3;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100% 75"><polygon points="0,0 1200,0 1200,75 0,75" style="fill:%2300B7E3;stroke-width:0"/><polygon points="0,0 100,0 70,75 0,75" style="fill:%23009FC5;stroke-width:0"/></svg>') no-repeat;
}

.DIA_DE_SORTE>div>div[class$="titulo-destaque"] {
    background-color: #00AB67;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100% 75"><polygon points="0,0 1200,0 1200,75 0,75" style="fill:%2300AB67;stroke-width:0"/><polygon points="0,0 100,0 70,75 0,75" style="fill:%23009B63;stroke-width:0"/></svg>') no-repeat;
}

/* logotipos */
.MEGA_SENA>div>div>div {
    background-image: url(../img/icon-megasena.png)
}

.LOTOFACIL>div>div>div {
    background-image: url(../img/icon-lotofacil.png)
}

.QUINA>div>div>div {
    background-image: url(../img/icon-quina.png)
}

.LOTOMANIA>div>div>div {
    background-image: url(../img/icon-lotomania.png)
}

.TIMEMANIA>div>div>div {
    background-image: url(../img/icon-timemania.png)
}

.DUPLA_SENA>div>div>div {
    background-image: url(../img/icon-duplasena.png)
}

.LOTECA>div>div>div {
    background-image: url(../img/icon-loteca.png)
}

.LOTOGOL>div>div>div {
    background-image: url(../img/icon-lotogol.png)
}

.DIA_DE_SORTE>div>div>div {
    background-image: url(../img/icon-diadesorte.png)
}

/* cor da barra de titulo do resultado */
.MEGA_SENA>div[class$="resultado"] {
    background-color: #008F5B;
}

.LOTOFACIL>div[class$="resultado"] {
    background-color: #9B2B7A;
}

.QUINA>div[class$="resultado"] {
    background-color: #642475;
}

.LOTOMANIA>div[class$="resultado"] {
    background-color: #DD8628;
}

.TIMEMANIA>div[class$="resultado"] {
    background-color: #92B240;
}

.DUPLA_SENA>div[class$="resultado"] {
    background-color: #7D1A3F;
}

.LOTECA>div[class$="resultado"] {
    background-color: #D30220;
}

.LOTOGOL>div[class$="resultado"] {
    background-color: #009FC5;
}

.DIA_DE_SORTE>div[class$="resultado"] {
    background-color: #008F5B;
}

/* Cor do valor estimado */
.estimativa {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 4.5vw;
    font-weight: bold;
}

.estimativa_0 {
    color: #00AB67;
}

.estimativa_1 {
    color: #00AB67;
}

.estimativa_2 {
    color: #803594;
}

.estimativa_3 {
    color: #FF9A2F;
}

.estimativa_4 {
    color: #A8CD4A;
}

.estimativa_5 {
    color: #00AB67;
}

.estimativa_6 {
    color: #BD3E96;
}

.estimativa-texto {
    font-size: 3vw;
    font-weight: normal;
}

.conteudo-destaque {
    color: #000000;
    align-content: center;
    align-self: center;
    top: 60px;
    left: 8px;
    width: 95%;
    bottom: 0;
    position: absolute;
    overflow: scroll;
}

.conteudo-resultado {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    color: #FFFFFF;
    align-content: left;
    align-self: left;
    font-size: 14px;
    font-weight: normal;
    top: 40px;
    left: 8px;
    width: 95%;
    height: 85%;
    bottom: 0;
    overflow: scroll;
}

.conteudo-resultado p {
    text-align: left;
    font-size: 3vw;
}

.conteudo-resultado h2 {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 13px;
    text-size-adjust: none;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: normal;
}

.conteudo-resultado h3 {
    font-family: Verdana, Helvetica, sans-serif;
    text-size-adjust: none;
    margin-top: 5px;
    text-align: left;
    font-weight: normal;
    font-size: 4vw;
}

.conteudo-resultado h4 {
    font-family: Verdana, Helvetica, sans-serif;
    text-size-adjust: none;
    margin-top: 8px;
    text-align: left;
    font-weight: normal;
    font-size: 3.5vw;;
}

p.acumulou {
    font-family: Verdana, Helvetica, sans-serif;
    text-size-adjust: none;
    color: rgb(44, 43, 43);
    font-size: 4vw;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    margin-top: 10px;
}

p.sorteio {
    font-family: Verdana, Helvetica, sans-serif;
    text-size-adjust: none;
    font-size: 14px;
    color: rgb(44, 43, 43);
    font-weight: normal;
    text-align: left;
    display: block;
}

p.sorteio.conteudo {
    font-weight: bold;
    display: block;
}

p.valor {
    font-family: Verdana, Helvetica, sans-serif;
    text-size-adjust: none;
    color: #00AB67;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}

.barcode {
    font-family: Verdana, Helvetica, sans-serif;
    text-size-adjust: none;
    color: rgb(39, 56, 155);
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    padding-top: 58px;
    background-image: url(../img/icon-barcode.png);
    background-size: 56px 56px;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: none;
    border: none;
    position: absolute;
    height: 34px;
    width: 64px;
    left: 10px;
    bottom: 0px;
    background-color: Transparent;
    background-repeat: no-repeat;
    z-index: 1;
}

.prototipo {
    font-family: Verdana, Helvetica, sans-serif;
    text-size-adjust: none;
    color: rgb(207, 51, 12);
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding-top: 58px;
    border: none;
    position: absolute;
    height: 34px;
    width: 64px;
    right: 40px;
    bottom: 15px;
    background-color: Transparent;
    background-repeat: no-repeat;
    z-index: 1;
    transform: rotate(-45deg);
    text-shadow: 1px 1px 1px rgb(58, 56, 56);
    float: right;
}